<div class="content">

  <div class="jumbotron p-4 m-4">
    <div class="container">
      <h1 class="display-4 text-danger">Admission Section</h1>

    </div>
  </div>
</div>
<!--
<div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        Collapsible Group Item #1
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Collapsible Group Item #2
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        Collapsible Group Item #3
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

</div>
-->


<div>
  <div class="container text-center">
    <form name="form" (ngSubmit)="q.form.valid && refSubmit()" #q="ngForm" novalidate>
      <div class="form-row">
        <div class="form-group col-6">
          <div class="form-group">
            <label for="selectionn">Select Roll/Reference No</label>
            <select type="text" name="selectionn" class="form-control" [(ngModel)]="selectionn" required>
              <option value="ref">Reference Number</option>
              <option value="roll">Roll Number</option>
            </select>
          </div>
        </div>
        <div class="form-group col-6">
          <div class="form-group">
            <label for="refRollNo">Student Reference/Roll No.</label>
            <input type="number" name="refRollNo" class="form-control" [(ngModel)]="refRollNo" required />
            <div *ngIf="q.submitted " class="invalid-feedback">
              <div *ngIf="refRollNo.errors.required">Reference No is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group text-center">
        <button class=" btn-primary btn-lg">Admission</button>
      </div>

    </form>

    <!-- <h4>Enter The Reference Number</h4>
    <input type="text" [(ngModel)]="ref" name="ref">

    <button class=" btn-primary " (click)="refSubmit()">Go For Enrollment</button>
  -->
  </div>
</div>

<div>
  <div class="justify-content-center align-content-center m-3">
    <!-- main app container -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h2>Student Enrollment Form</h2>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

              <img src={{url}}>

              <div class="form-row">


                <div class="form-group col-6">
                  <div class="form-group">
                    <label for="referenceNo">Student Reference No.</label>
                    <input type="text" disabled class="form-control" name="referenceNo"
                      [(ngModel)]="studentModel.referenceNo" #referenceNo="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && referenceNo.invalid }" required />
                    <div *ngIf="f.submitted && referenceNo.invalid" class="invalid-feedback">
                      <div *ngIf="referenceNo.errors.required">Reference No is required</div>
                    </div>
                  </div>
                </div>



                <div class="form-group col-6">
                  <label for="firstName">Student Full Name</label>
                  <input type="text" class="form-control" name="name" [(ngModel)]="studentModel.name" #name="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                  <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                    <div *ngIf="name.errors.required">Student Name is required</div>
                  </div>
                </div>

              </div>




              <div class="form-row">


                <div class="form-group col-6">
                  <div class="form-group">
                    <label for="fatherName">Father Name</label>
                    <input type="text" class="form-control" name="fatherName" [(ngModel)]="studentModel.fatherName"
                      #fatherName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fatherName.invalid }" required />
                    <div *ngIf="f.submitted && fatherName.invalid" class="invalid-feedback">
                      <div *ngIf="fatherName.errors.required">Father Name is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group col-6">
                  <div class="form-group">
                    <label for="motherName">Mother Name</label>
                    <input type="text" class="form-control" name="motherName" [(ngModel)]="studentModel.motherName"
                      #motherName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && motherName.invalid }" required />
                    <div *ngIf="f.submitted && motherName.invalid" class="invalid-feedback">
                      <div *ngIf="motherName.errors.required">Last Name is required</div>
                    </div>
                  </div>
                </div>
              </div>

              <!--**********************************-->




              <div class="form-row">
                <div class="form-group col-4">
                  <label for="domicileState">Domicile State Name</label>
                  <input type="text" class="form-control" name="domicileState" [(ngModel)]="studentModel.domicileState"
                    #domicileState="ngModel" [ngClass]="{ 'is-invalid': f.submitted && domicileState.invalid }"
                    required />
                  <div *ngIf="f.submitted && domicileState.invalid" class="invalid-feedback">
                    <div *ngIf="domicileState.errors.required">Domicile State Name is required</div>
                  </div>
                </div>


                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="picture">Upload Picture</label>
                    <input type="file" class="form-control" name="picture" (change)="onFileSelected($event)" required />
                  </div>
                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="aadhaarNo">Aadhaar No</label>
                    <input type="text" class="form-control" name="aadhaarNo" [(ngModel)]="studentModel.aadhaarNo"
                      #aadhaarNo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && aadhaarNo.invalid }" maxlength="12" minlength="12" required />
                    <div *ngIf="f.submitted && aadhaarNo.invalid" class="invalid-feedback">
                      <div *ngIf="aadhaarNo.errors.required">AadhaarNo is required</div>
                      <div *ngIf="aadhaarNo.errors.minlength || aadhaarNo.errors.maxlength">Aadhaar number must be 12
                          digit</div>
                    </div>
                  </div>
                </div>
              </div>

              <!--**********************************-->


              <div class="form-row">
                <div class="form-group col-4">
                  <label for="dateOfBirth">Date Of Birth</label>
                  <input type="date" class="form-control" name="dateOfBirth" [(ngModel)]="studentModel.dateOfBirth"
                    #dateOfBirth="ngModel" [ngClass]="{ 'is-invalid': f.submitted && dateOfBirth.invalid }" required />
                  <div *ngIf="f.submitted && dateOfBirth.invalid" class="invalid-feedback">
                    <div *ngIf="dateOfBirth.errors.required">Date Of Birth is required</div>
                  </div>
                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="category">Category</label>
                    <select type="text" name="category" class="form-control" [(ngModel)]="studentModel.category"
                      #category="ngModel" [ngClass]="{ 'is-invalid': f.submitted && category.invalid }" required>
                      <option value="GENERAL">General</option>
                      <option value="OBC">OBC</option>
                      <option value="SC">SC</option>
                      <option value="ST">ST</option>
                    </select>
                    <div *ngIf="f.submitted && category.invalid" class="invalid-feedback">
                      <div *ngIf="category.errors.required">Please Select the category</div>
                    </div>
                  </div>
                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="pwd">pwd</label>
                    <input type="text" class="form-control" name="pwd" [(ngModel)]="studentModel.pwd" />

                  </div>
                </div>
              </div>

              <!--**********************************-->




              <div class="form-row">


                <div class="form-group col-6">
                  <div class="form-group">
                    <label for="permanentAddress">Permanent Address</label>
                    <input type="text" class="form-control" name="permanentAddress"
                      [(ngModel)]="studentModel.permanentAddress" #permanentAddress="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && permanentAddress.invalid }" required />
                    <div *ngIf="f.submitted && permanentAddress.invalid" class="invalid-feedback">
                      <div *ngIf="permanentAddress.errors.required">Permanent Address is required</div>
                    </div>
                  </div>
                </div>



                <div class="form-group col-6">
                  <div class="form-group">
                    <label for="parentsOccupation">Parents Occupation </label>
                    <input type="text" class="form-control" name="parentsOccupation"
                      [(ngModel)]="studentModel.parentsOccupation" />

                  </div>
                </div>

              </div>

              <!--**********************************-->



              <div class="form-row">
                <div class="form-group col-4">
                  <label for="mobileNoSms">Mobile No. For SMS</label>
                  <input type="text" class="form-control" name="mobileNoSms" [(ngModel)]="studentModel.mobileNoSms"
                    #mobileNoSms="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mobileNoSms.invalid }" required minlength="10"
                    maxlength="10" pattern="[6-9]{1}[0-9]{9}" />
                  <div *ngIf="f.submitted && mobileNoSms.invalid" class="invalid-feedback">
                    <div *ngIf="mobileNoSms.errors.required">MobileNo for SMS is required</div>
                    <div *ngIf="mobileNoSms.errors.minlength || mobileNoSms.errors.maxlength">Mobile number must
                      be 10
                      digit</div>
                    <div *ngIf="mobileNoSms.errors.pattern">Enter Valid Mobile Number</div>
                  </div>
                </div>


                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="mobileNoFather">Father Mobile No.</label>
                    <input type="text" class="form-control" name="mobileNoFather"
                      [(ngModel)]="studentModel.mobileNoFather" />

                  </div>
                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="mobileNoMother">Mother mobile No.</label>
                    <input type="text" class="form-control" name="mobileNoMother"
                      [(ngModel)]="studentModel.mobileNoMother" />

                  </div>
                </div>
              </div>

              <!--**********************************-->




              <div class="form-row">
                <div class="form-group col-4">
                  <label for="mobileNoStudent">Student Mobile No.</label>
                  <input type="text" class="form-control" name="mobileNoStudent"
                    [(ngModel)]="studentModel.mobileNoStudent" #mobileNoStudent="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && mobileNoStudent.invalid }" required minlength="10"
                    maxlength="10" pattern="[6-9]{1}[0-9]{9}" />
                  <div *ngIf="f.submitted && mobileNoStudent.invalid" class="invalid-feedback">
                    <div *ngIf="mobileNoStudent.errors.required">Student MobileNo is required</div>
                    <div *ngIf="mobileNoStudent.errors.minlength || mobileNoStudent.errors.maxlength">Mobile number must
                      be 10
                      digit</div>
                    <div *ngIf="mobileNoStudent.errors.pattern">Enter Valid Mobile Number</div>
                  </div>
                </div>


                <div class="form-group col-4">
                  <div class="form-group">
                    <label>Enter Email</label>
                    <input type="email" name="emailId" class="form-control" [(ngModel)]="studentModel.emailId"
                      #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.errors.required">Email is required</div>
                      <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="localAddress">Enter localAddress</label>
                    <input type="text" class="form-control" name="localAddress"
                      [(ngModel)]="studentModel.localAddress" />

                  </div>
                </div>
              </div>

              <!--**********************************-->



              <div class="form-row">
                <div class="form-group col-6">
                  <div class="form-group">
                    <label for="localAddressGuardian">Local Guardian Address</label>
                    <input type="text" class="form-control" name="localAddressGuardian"
                      [(ngModel)]="studentModel.localAddressGuardian" />

                  </div>
                </div>

                <div class="form-group col-6">
                  <div class="form-group">
                    <label for="mobileNoLocalGuardian">MobileNo of LocalGuardian </label>
                    <input type="text" class="form-control" name="mobileNoLocalGuardian"
                      [(ngModel)]="studentModel.mobileNoLocalGuardian" />

                  </div>
                </div>

              </div>

              <!--**********************************-->



              <div class="form-row">
                <div class="form-group col-4">
                  <label for="passingOutYear10">Passing Out Year of 10th</label>
                  <input type="number" class="form-control" name="passingOutYear10"
                    [(ngModel)]="studentModel.passingOutYear10" />

                </div>


                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="passingOutYear11">Passing Out Year of 11th</label>
                    <input type="number" class="form-control" name="passingOutYear11"
                      [(ngModel)]="studentModel.passingOutYear11" />

                  </div>
                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="passingOutYear12">PassingOutYear of 12th</label>
                    <input type="number" class="form-control" name="passingOutYear12"
                      [(ngModel)]="studentModel.passingOutYear12" />

                  </div>
                </div>
              </div>

              <!--**********************************-->



              <div class="form-row">
                <div class="form-group col-4">
                  <label for="school10">School Name of 10th</label>
                  <input type="text" class="form-control" name="school10" [(ngModel)]="studentModel.school10" />

                </div>


                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="school11">School Name of 11th</label>
                    <input type="text" class="form-control" name="school11" [(ngModel)]="studentModel.school11" />

                  </div>
                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="school12">School Name of 12th</label>
                    <input type="text" class="form-control" name="school12" [(ngModel)]="studentModel.school12" />

                  </div>
                </div>
              </div>

              <!--**********************************-->



              <div class="form-row">
                <div class="form-group col-4">
                  <label for="schoolAddress10">SchoolAddress of 10th</label>
                  <input type="text" class="form-control" name="schoolAddress10"
                    [(ngModel)]="studentModel.schoolAddress10" />

                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="schoolAddress11">SchoolAddress of 11th</label>
                    <input type="text" class="form-control" name="schoolAddress11"
                      [(ngModel)]="studentModel.schoolAddress11" />

                  </div>
                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="schoolAddress12">SchoolAddress of 12th</label>
                    <input type="text" class="form-control" name="schoolAddress12"
                      [(ngModel)]="studentModel.schoolAddress12" />

                  </div>
                </div>
              </div>

              <!--**********************************-->



              <div class="form-row">
                <div class="form-group col-4">
                  <label for="gradePer10">Grade in 10th</label>
                  <input type="number" class="form-control" name="gradePer10" [(ngModel)]="studentModel.gradePer10" />

                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="gradePer11">Grade in 11th</label>
                    <input type="number" class="form-control" name="gradePer11" [(ngModel)]="studentModel.gradePer11" />

                  </div>
                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="gradePer12">Grade in 12th</label>
                    <input type="number" class="form-control" name="gradePer12" [(ngModel)]="studentModel.gradePer12" />

                  </div>
                </div>
              </div>

              <!--**********************************-->


              <div class="form-row">
                <div class="form-group col-4">
                  <label for="pastNeetMarks">Past NEET Marks</label>
                  <input type="number" class="form-control" name="pastNeetMarks"
                    [(ngModel)]="studentModel.pastNeetMarks" />

                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="pastNeetAir">Past NEET AIR</label>
                    <input type="number" class="form-control" name="pastNeetAir"
                      [(ngModel)]="studentModel.pastNeetAir" />

                  </div>
                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="pastNeetAsr">Past NEET Asr</label>
                    <input type="number" class="form-control" name="pastNeetAsr"
                      [(ngModel)]="studentModel.pastNeetAsr" />

                  </div>
                </div>
              </div>

              <!--**********************************-->



              <div class="form-row">
                <div class="form-group col-6">
                  <div class="form-group">
                    <label for="pastNeetAttempts">Past NEET Attempts No.</label>
                    <input type="number" class="form-control" name="pastNeetAttempts"
                      [(ngModel)]="studentModel.pastNeetAttempts" />

                  </div>
                </div>

                <div class="form-group col-6">
                  <div class="form-group">
                    <label for="pastNeetRemarks">Enter Past NEET Remarks </label>
                    <input type="text" class="form-control" name="pastNeetRemarks"
                      [(ngModel)]="studentModel.pastNeetRemarks" />

                  </div>
                </div>

              </div>

              <!--**********************************-->



              <div class="form-row">

                <div class="form-group col-6">
                  <div class="form-group">
                    <label for="medium">Select Medium</label>
                    <select type="text" name="medium" class="form-control" [(ngModel)]="studentModel.medium"
                      #medium="ngModel" [ngClass]="{ 'is-invalid': f.submitted && medium.invalid }" required>
                      <option value="HINDI">Hindi</option>
                      <option value="ENGLISH">English</option>
                    </select>
                    <div *ngIf="f.submitted && medium.invalid" class="invalid-feedback">
                      <div *ngIf="medium.errors.required">Please Select The medium</div>
                    </div>
                  </div>
                </div>

                <div class="form-group col-6">
                  <div class="form-group">
                    <label for="demoCard">Select Demo Card</label>
                    <select type="text" name="demoCard" class="form-control" [(ngModel)]="studentModel.demoCard"
                      #demoCard="ngModel" [ngClass]="{ 'is-invalid': f.submitted && demoCard.invalid }" required>
                      <option value="Y">YES</option>
                      <option value="N">NO</option>
                    </select>
                    <div *ngIf="f.submitted && demoCard.invalid" class="invalid-feedback">
                      <div *ngIf="demoCard.errors.required">Please Select The DemoCard option</div>
                    </div>
                  </div>
                </div>

              </div>

              <!--**********************************-->




              <div class="form-group text-center">
                <button class=" btn-primary btn-lg">Enrollment</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




<div class="jumbotron p-4 m-4">
  <div class="container">
    <h1 class="display-4 text-danger"> Scholarship Calculator</h1>
    <p class="lead">This is an online tool to determine the Scholarship of a student
    </p>
  </div>
</div>


<div class=" container text-center w-50 h-200px">
  <form method="post">
    <div class="imgcontainer">
      <img src="../../../assets/adminAssets/images/calculator.jpg" class="avatar">
    </div>

    <div class="container " style="margin-bottom: 50px;">
      <label for="uname"><b>Scholarship Calculator</b></label><br />
      <label for="uname" style="color:blue"><b>Student is getting {{offfer | currency:"INR"}}
          Scholarship</b></label><br>
      <label for="uname" style="color:blue"><b>Student has to Pay {{finalFessPay | currency:"INR"}} Fees
          Ammount</b></label><br>

      <input type="text" class="feesInput" placeholder="Enter Actual Course Fees " name="actualCourseFees"
        [(ngModel)]="actualCourseFees" required>

      <input type="number" class="feesInput" placeholder="Enter % of Scholarship " name="percentageScholarship"
        [(ngModel)]="percentageScholarship" required>

      <button (click)="scholarshipFeesCal()" class="mybutton btn bg-primary">Calculate</button>

    </div>
  </form>
</div>



<div class="jumbotron p-4 m-4">
  <div class="container">
    <h1 class="display-4 text-danger"> Student Final Admission Section</h1>

  </div>
</div>

<div class="container text-center">

  <h4>Enter The Student Reference Number</h4>
  <input type="number" [(ngModel)]="refForAdmission" name="refForAdmission">

  <button class=" btn-primary " (click)="refAdmissionSubmit()">Go For Admission</button>

</div>






<!--Final Admission Form-->
<div class="justify-content-center align-content-center m-3">
  <!-- main app container -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2>Student Admission Form</h2>

          <form name="form" (ngSubmit)="j.form.valid && onAdmissionSubmit()" #j="ngForm" novalidate>


            <div class="form-row">

              <!--<div class="form-group col-4">
                <div class="form-group">
                  <label for="medium">Select Roll/Reference No</label>
                  <select type="text" name="selection" class="form-control" [(ngModel)]="selection"
                    #selection="ngModel" [ngClass]="{ 'is-invalid': j.submitted && selection.invalid }" required>
                    <option value="ref">Reference Number</option>
                    <option value="roll">Roll Number</option>
                  </select>
                  <div *ngIf="j.submitted && selection.invalid" class="invalid-feedback">
                    <div *ngIf="selection.errors.required">Please Select one</div>
                  </div>
                </div>
              </div>-->

              <div class="form-group col-4">
                <div class="form-group">
                  <label for="referenceNo">Student Reference No.</label>
                  <input type="text" disabled class="form-control" name="referenceNo"
                    [(ngModel)]="admissionDto.referenceNo" #referenceNo="ngModel"
                    [ngClass]="{ 'is-invalid': j.submitted && referenceNo.invalid }" required />
                  <div *ngIf="j.submitted && referenceNo.invalid" class="invalid-feedback">
                    <div *ngIf="referenceNo.errors.required">Reference No is required</div>
                  </div>
                </div>
              </div>


              <div class="form-group col-4">
                <div class="form-group">
                  <label for="name">Student Name</label>
                  <input type="text" disabled class="form-control" name="name" [(ngModel)]="admissionDto.name" />

                </div>
              </div>

              <div class="form-group col-4">
                <div class="form-group">
                  <label for="academicYear">Academic Year</label>
                  <input type="text" class="form-control" name="academicYear" [(ngModel)]="admissionDto.academicYear" />

                </div>
              </div>

            </div>


            <!--**********************************-->


            <div class="form-row">
              <div class="form-group col-4">
                <div class="form-group">
                  <label for="batch">Batch</label>
                  <input type="text" class="form-control" name="batch" [(ngModel)]="admissionDto.batch" #batch="ngModel"
                    [ngClass]="{ 'is-invalid': j.submitted && batch.invalid }" required />
                  <div *ngIf="j.submitted && batch.invalid" class="invalid-feedback">
                    <div *ngIf="batch.errors.required">Batch is required</div>
                  </div>
                </div>
              </div>


              <div class="form-group col-4">
                <div class="form-group">
                  <label for="classs">Class</label>
                  <select type="text" class="form-control" name="classs" [(ngModel)]="admissionDto.classs"
                    #classs="ngModel" [ngClass]="{ 'is-invalid': j.submitted && classs.invalid }" required>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">Target</option>
                  </select>
                  <div *ngIf="j.submitted && classs.invalid" class="invalid-feedback">
                    <div *ngIf="classs.errors.required">Please Select Class</div>
                  </div>
                </div>
              </div>

              <div class="form-group col-4">
                <div class="form-group">
                  <label for="idCard">ID Card</label>
                  <select type="text" class="form-control" name="idCard" [(ngModel)]="admissionDto.idCard"
                    #idCard="ngModel" [ngClass]="{ 'is-invalid': j.submitted && idCard.invalid }" required>
                    <option value="Y">YES</option>
                    <option value="N">NO</option>
                  </select>
                  <div *ngIf="j.submitted && idCard.invalid" class="invalid-feedback">
                    <div *ngIf="idCard.errors.required">Please select ID card</div>
                  </div>
                </div>
              </div>

            </div>


            <!--**********************************-->


            <div class="form-row">
              <div class="form-group col-4">
                <div class="form-group">
                  <label for="bag">Bag</label>
                  <select type="text" name="bag" class="form-control" [(ngModel)]="admissionDto.bag" #bag="ngModel"
                    [ngClass]="{ 'is-invalid': j.submitted && bag.invalid }" required>
                    <option value="Y">YES</option>
                    <option value="N">NO</option>
                  </select>
                  <div *ngIf="j.submitted && bag.invalid" class="invalid-feedback">
                    <div *ngIf="bag.errors.required">Please Select The bag option</div>
                  </div>
                </div>
              </div>


              <div class="form-group col-4">
                <div class="form-group">
                  <label for="module">Module</label>
                  <select type="text" name="module" class="form-control" [(ngModel)]="admissionDto.module"
                    #module="ngModel" [ngClass]="{ 'is-invalid': j.submitted && module.invalid }" required>
                    <option value="Y">YES</option>
                    <option value="N">NO</option>
                  </select>
                  <div *ngIf="j.submitted && module.invalid" class="invalid-feedback">
                    <div *ngIf="module.errors.required">Please Select The module option</div>
                  </div>
                </div>
              </div>

              <div class="form-group col-4">
                <div class="form-group">
                  <label for="scholarship">Scholarship</label>
                  <input type="text" class="form-control" name="scholarship" [(ngModel)]="admissionDto.scholarship" />

                </div>
              </div>

            </div>


            <div class="form-row">
              <div class="form-group col-12">
                <div class="form-group">
                  <label for="installments">Installments</label>
                  <input type="text" class="form-control" name="installments" [(ngModel)]="admissionDto.installments" />

                </div>
              </div>


            </div>

            <div class="form-group text-center">
              <button class=" btn-primary btn-lg">Admission</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>







  <div class="jumbotron p-4 m-4">
    <div class="container">
      <h1 class="display-4 text-danger"> Admission Update & Delete Section</h1>

    </div>
  </div>


  <div class="container text-center">

    <h4>Enter The Student Roll Number</h4>
    <input type="number" [(ngModel)]="getRollNo" name="getRollNo">

    <button class=" btn-primary " (click)="getAdmission()">Submit Roll Number</button>

  </div>
  <!--Final Admission Form-->
  <div class="justify-content-center align-content-center m-3">
    <!-- main app container -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h2>Student Admission Update</h2>

            <form name="form" #p="ngForm" novalidate>

              <div class="form-row">

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="rolllNo">Student Roll No.</label>
                    <input type="text" disabled class="form-control" name="rolllNo"
                      [(ngModel)]="updateAdmissionDto.rollNo">
                  </div>
                </div>

              </div>


              <div class="form-row">

                <!--<div class="form-group col-4">
                <div class="form-group">
                  <label for="medium">Select Roll/Reference No</label>
                  <select type="text" name="selection" class="form-control" [(ngModel)]="selection"
                    #selection="ngModel" [ngClass]="{ 'is-invalid': j.submitted && selection.invalid }" required>
                    <option value="ref">Reference Number</option>
                    <option value="roll">Roll Number</option>
                  </select>
                  <div *ngIf="j.submitted && selection.invalid" class="invalid-feedback">
                    <div *ngIf="selection.errors.required">Please Select one</div>
                  </div>
                </div>
              </div>-->

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="referenceNo">Student Reference No.</label>
                    <input type="text" disabled class="form-control" name="referenceNo"
                      [(ngModel)]="updateAdmissionDto.referenceNo" required />
                  </div>
                </div>


                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="name">Student Name</label>
                    <input type="text" disabled class="form-control" name="name"
                      [(ngModel)]="updateAdmissionDto.name" />

                  </div>
                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="academicYear">Academic Year</label>
                    <input type="text" class="form-control" name="academicYear"
                      [(ngModel)]="updateAdmissionDto.academicYear" />

                  </div>
                </div>

              </div>


              <!--**********************************-->


              <div class="form-row">
                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="batch">Batch</label>
                    <input type="text" class="form-control" name="batch" [(ngModel)]="updateAdmissionDto.batch">
                  </div>
                </div>


                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="classs">Class</label>
                    <input type="text" class="form-control" name="classs" [(ngModel)]="updateAdmissionDto.classs">
                  </div>
                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="idCard">ID Card</label>
                    <input type="text" class="form-control" name="idCard" [(ngModel)]="updateAdmissionDto.idCard" />
                  </div>
                </div>

              </div>


              <!--**********************************-->


              <div class="form-row">
                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="bag">Bag</label>
                    <select type="text" name="bag" class="form-control" [(ngModel)]="updateAdmissionDto.bag">
                      <option value="Y">YES</option>
                      <option value="N">NO</option>
                    </select>
                  </div>
                </div>


                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="module">Module</label>
                    <select type="text" name="module" class="form-control" [(ngModel)]="updateAdmissionDto.module">
                      <option value="Y">YES</option>
                      <option value="N">NO</option>
                    </select>
                  </div>
                </div>

                <div class="form-group col-4">
                  <div class="form-group">
                    <label for="scholarship">Scholarship</label>
                    <input type="text" class="form-control" name="scholarship"
                      [(ngModel)]="updateAdmissionDto.scholarship" />

                  </div>
                </div>

              </div>


              <div class="form-row">
                <div class="form-group col-12">
                  <div class="form-group">
                    <label for="installments">Installments</label>
                    <input type="text" class="form-control" name="installments"
                      [(ngModel)]="updateAdmissionDto.installments" />

                  </div>
                </div>


              </div>

              <div class="form-group text-center">
                <button class=" btn-primary btn-lg m-2" (click)="p.form.valid && updateAdmission()">Update</button>
                <button class="btn btn-lg btn-danger"
                  (click)="deleteAdmission(updateAdmissionDto.rollNo)">Delete</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>