<!--ABout US-->
<section id="about" class="padding">

  <div class="container margin_top">
    <div class="row">
      <div class="col-md-7 col-sm-6 priorty wow fadeInLeft">
        <h2 class="heading bottom25">Welcome to Aayaam-Career <span class="divider-left"></span></h2>
        <p class="half_space"> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.</p>
        <p>consectetur id. Aenean sit amet massa eu velit commodo cursus fringilla a tellus. Morbi eros urna, mollis
          porta feugiat non, ornare eu augue.
          Sed rhoncus est sit amet diam tempus, et tristique est vive, sectur at dapibus id, luctus at odio. Proin
          mattis congue tristique
          eu augue. Sed rhoncus est.</p>
        <div class="row">
          <div class="col-md-6">
            <div class="about-post">
              <a href="#." class="border_radius"><img src="../../../assets/landingAssets/images/hands.png" alt="hands"></a>
              <h4>Good Planning</h4>
              <p>Renean sit amet massa</p>
            </div>
            <div class="about-post">
              <a href="#." class="border_radius"><img src="../../../assets/landingAssets/images/awesome.png" alt="hands"></a>
              <h4>Happy Students</h4>
              <p>Renean sit amet massa</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-post">
              <a href="#." class="border_radius"><img src="../../../assets/landingAssets/images/maintenance.png" alt="hands"></a>
              <h4>Our Courses</h4>
              <p>Renean sit amet massa</p>
            </div>
            <div class="about-post">
              <a href="#." class="border_radius"><img src="../../../assets/landingAssets/images/home.png" alt="hands"></a>
              <h4>Our Teachers</h4>
              <p>Renean sit amet massa</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-6 wow fadeInRight">
        <img src="../../../assets/landingAssets/images/B.jpg" alt="our priorties" class="img-responsive" style="width:100%;">
      </div>
    </div>
  </div>
</section>
<!--ABout US-->
