<!-- Topbar Start -->
<div class="navbar-custom">
  <ul class="list-unstyled topnav-menu float-right mb-0">


    <li class="dropdown notification-list">

      <div class="dropdown-menu dropdown-menu-right dropdown-lg">



        <div class="slimscroll noti-scroll">





        </div>


      </div>
    </li>

    <li class="dropdown notification-list">
      <a class="nav-link nav-user mr-0 waves-effect"   role="button"
        aria-haspopup="false" aria-expanded="false">
        <img src="../../../../assets/adminAssets/images/users/Admin.png" alt="user-image" class="rounded-circle">

      </a>
      <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
        <!-- item-->
        <div class="dropdown-header noti-title">

        </div>

        <!-- item-->


      </div>
    </li>

    <li class="dropdown notification-list">
      <button class="border_radius btn_common yellow m-2 " (click)="logout()"  >Logout</button>
    </li>


  </ul>

  <!-- LOGO -->
  <div class="logo-box">
    <a href="index.html" class="logo logo-dark text-center">
      <span class="logo-lg">
        <img src="../../../../assets/adminAssets/images/BGGG.png" alt="" height="50">
      </span>
      <span class="logo-sm">
        <img src="../../../../assets/adminAssets/images/BGGG.png" alt="" height="50">
      </span>
    </a>
    <a href="index.html" class="logo logo-light text-center">
      <span class="logo-lg">
        <img src="../../../../assets/adminAssets/images/BGGG.png" alt="" height="50">
      </span>
      <span class="logo-sm">
        <img src="../../../../assets/adminAssets/images/BGGG.png" alt="" height="50">
      </span>
    </a>
  </div>

  <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">


    <li>
      <h4 class="page-title-main">Welcome to Admin Section</h4>
    </li>

  </ul>

</div>
<!-- end Topbar -->
