<div class="text-center m-2 p-3">
  <button class=" btn-primary btn-lg" id="printPageButton" onClick="window.print()">Print ID-Card</button>
</div>


<div style="margin-left: 240px; margin-bottom: 200px; ">
  <div class="row">
    <div class="col-5">
      <!--Front side-->
      <div>
        <div class="padding">
          <div class="font">
            <div class="top">
              <img src="../../../../assets/adminAssets/images/users/Admin.png">
            </div>
            <div class="bottom">
              <p>{{id.name}}</p>
              <!-- <p class="desi">Target NEET - E</p> -->

              <br>
              <p class="no3">Roll No - {{id.rollNo}}</p>
              <br>

              <p class="no3">{{id.batch}}</p>
              <div class="barcode">
                <img src="../../../../assets/adminAssets/images/aayaam logo png.png">
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>



    <div class="col-5">

      <!--Back side-->
      <div class=" text-center ">
        <div class="back">
          <h1 class="Details text-white">Student Information</h1>
          <hr class="hr">
          <div class="details-info text-white">
            <p class="text-white"><b>Father's Name -</b> {{id.fatherName}} </p>

            <p class="text-white"><b>Address -</b> {{id.address}}</p>

            <p class="text-white"><b>Contact -</b> {{id.mobileNo}} </p>
          </div>
          <br>
          <hr class="hr">
          <div class="details-info2 text-white">
            <p class="text-white">1. Loss of the card should be reported
              immediately to the AAYAAM office.</p>

            <p class="text-white">2. Please bring the card whenever you visit the premises.</p>

            <p class="text-white">3. This card is not transferable.</p>
          </div>

          <div class="logo">
            <img src="../../../../assets/adminAssets/images/aayaam logo square.png">
          </div>


        </div>

      </div>

    </div>
  </div>
</div>
