<div class="content">

  <div class="jumbotron p-4 m-4">
    <div class="container">
      <h1 class="display-4 text-danger">Exam-Cell Section</h1>

    </div>
  </div>
</div>


<div class="container p-3 m-3">
  <h3 class="text-center"> Generate Demo-ID Card for the Student</h3>

  <div class="container text-center">

    <h5>Enter The Student Reference Number</h5>
    <input type="number" [(ngModel)]="refForDemoCard" name="refForDemoCard">

    <button class=" btn-primary " (click)="refFORDemoCardSubmit()">Demo Card</button>

  </div>

</div>


<!--card demo-->
<div class="container bg-gradient-blue m-5 p-4" *ngIf="showDemoCard">
  <div class="container justify-content-center align-content-center d-flex" id="section-to-print">
    <div>

      <div class="myfont">

        <div class="mytop">

          <img src="../../../assets/adminAssets/images/aayaam logo png.png">
        </div>
        <div class="mybuttom">
          <p>Name - {{studentModel.name}}</p>

          <p>Father’s Name - {{studentModel.fatherName}}</p>



          <p>Contact - {{studentModel.mobileNoStudent}}</p>

          <p>Reference Id - {{studentModel.referenceNo}}</p>

        </div>

        <div class="mybuttom2">
          <p>Demo Card</p>


        </div>

      </div>
    </div>
  </div>

  <div class="text-center m-3 p-3">
    <button class=" btn-warning btn-lg" id="printPageButton" onClick="window.print()">Print</button>
  </div>
</div>







<div class="container p-3 m-3">
  <hr class="m-2">
  <h3 class="text-center"> Generate ID Card for the Student</h3>

  <div class="container text-center">

    <h5>Enter The Student Roll Number</h5>
    <input type="number" [(ngModel)]="idRollNo" name="idRollNo">

    <button class=" btn-primary " (click)="generateId()">ID Card</button>

  </div>

</div>



<hr class="m-2">


<div class="card m-4 p-3">
  <h2 class="card-header text-center text-success">Upload The Marks </h2>
  <div class="card-body">
    <form name="form" (ngSubmit)="f.form.valid && onMarksSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label>Upload Excell file</label>
        <input type="file" name="pancard" class="form-control" (change)="onMarksSelection($event)" required>
      </div>

      <div class="text-center">
        <button class="btn btn-primary m-2 p-2">Upload</button>
      </div>
    </form>
  </div>
</div>


<div class="jumbotron p-4 m-4">
  <div class="container">
    <h1 class="display-4 text-danger">Marks Display Board</h1>
    <p class="lead">View the marks of the students by using Roll Number and Exam Code</p>
  </div>
</div>


<div class="row mb-5">
  <div class="col-6 mb-3">
    <div class="card m-4">
      <h2 class="card-header text-center text-success">Marks By RollNumber </h2>
      <div class="card-body">
        <div class="container text-center mb-5 p-3">
          <h4>Enter The Student Roll Number</h4>
          <input type="number" [(ngModel)]="rollNo" name="rollNo" class="form-control-border">
          <button class=" btn-primary " (click)="onRollNoSubmit()">Search</button>

        </div>

      </div>
    </div>

  </div>


  <div class="col-6 mb-3">
    <div class="card m-4">
      <h2 class="card-header text-center text-success">Marks By TestCode </h2>
      <div class="card-body">
        <div class="container text-center mb-5 p-3">
          <h4>Enter The Test Code</h4>
          <input type="text" [(ngModel)]="testCode" name="rollNo">
          <button class=" btn-primary " (click)="onTestCodeSubmit()">Search</button>
        </div>

      </div>
    </div>

  </div>



</div>




<div class="row" *ngIf="isShow">
  <div class="col-xl-12 justify-content-center align-content-center p-2">
    <h3 class="text-center">Marks of Students </h3>
    <div class="card-box">
      <div class="container m-1 p-2">
        <ag-grid-angular style="margin:10px;height:200px !important" class="ag-theme-alpine"
          [columnDefs]="resultListHeader" [rowData]="resultList" [pagination]="true" [paginationPageSize]="2">
        </ag-grid-angular>

      </div>
    </div>
  </div>
</div>
