<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu" id="x">

  <div class="slimscroll-menu">

    <!-- User box -->
    <div class="user-box text-center">
      <img src="../../../../assets/adminAssets/images/users/Admin.png" alt="user-img" title="Mat Helme"
        class="rounded-circle img-thumbnail avatar-md">
      <div class="dropdown">
        <a class="user-name  h5 mt-2 mb-1 d-block" aria-expanded="false">Admin Section</a>
        <div class="dropdown-menu user-pro-dropdown">


        </div>
      </div>
      <p class="text-muted">Admin Head</p>
      <ul class="list-inline">

      </ul>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">

      <ul class="metismenu">

        <li class="menu-title">Navigation</li>
        <li>
          <a routerLink="/admin/dashboard">
            <i class="mdi mdi-view-dashboard"></i>
            <span> Dashboard </span>
          </a>
        </li>


        <li>
          <a routerLink="/admin/reception">
            <i class="mdi mdi-view-dashboard"></i>
            <span> Reception </span>
          </a>
        </li>

        <li>
          <a routerLink="/admin/examcell">
            <i class="mdi mdi-view-dashboard"></i>
            <span> Exam-Cell </span>
          </a>
        </li>

        <li>
          <a routerLink="/admin/admission">
            <i class="mdi mdi-view-dashboard"></i>
            <span> Admission </span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/account">
            <i class="mdi mdi-view-dashboard"></i>
            <span> Account </span>
          </a>
        </li>


      </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>

  </div>
  <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
