<!-- Footer Start -->
<div class="container-fluid">
  <footer class="footer" style="background-color:rgb(238, 226, 226)">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 text-dark font-weight-bold">
          <h4> <a href="" class="text-warning">Aayaam</a></h4>
        </div>
        <div class="col-md-6">
          <div class="text-md-right footer-links d-none d-sm-block ">
            <a href="javascript:void(0);" class="text-dark font-weight-bold">About Us</a>
            <a href="javascript:void(0);" class="text-dark font-weight-bold">Help</a>
            <a href="javascript:void(0);" class="text-dark font-weight-bold">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end Footer -->


</div>
