<!-- Start Content-->

<div class="content">

  <div class="jumbotron p-4 m-4">
    <div class="container">
      <h1 class="display-4 text-danger"> Account Section</h1>

    </div>
  </div>
</div>






<!--Final Admission Form-->
<div class="justify-content-center align-content-center m-5">
  <!-- main app container -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2>Student Payment Form</h2>

          <form name="form" (ngSubmit)="t.form.valid && onPaymentSubmit()" #t="ngForm" novalidate>


            <div class="form-row">
              <div class="form-group col-6">
                <div class="form-group">
                  <label for="rollNo">Student Roll Number</label>
                  <input type="number" class="form-control" name="rollNo" [(ngModel)]="accountDto.rollNo"
                    #rollNo="ngModel" [ngClass]="{ 'is-invalid': t.submitted && rollNo.invalid }" required />
                  <div *ngIf="t.submitted && rollNo.invalid" class="invalid-feedback">
                    <div *ngIf="rollNo.errors.required">Roll Number is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <div class="form-group">
                  <label for="amount">Amount</label>
                  <input type="number" class="form-control" name="amount" [(ngModel)]="accountDto.amount"
                    #amount="ngModel" [ngClass]="{ 'is-invalid': t.submitted && amount.invalid }" required />
                  <div *ngIf="t.submitted && amount.invalid" class="invalid-feedback">
                    <div *ngIf="amount.errors.required">Amount is required</div>
                  </div>
                </div>
              </div>

            </div>

            <div class="form-row">
              <div class="form-group col-6">
                <div class="form-group">
                  <label for="paymentMethod">Payment Method</label>
                  <input type="text" class="form-control" name="paymentMethod" [(ngModel)]="accountDto.paymentMethod"
                    #paymentMethod="ngModel" [ngClass]="{ 'is-invalid': t.submitted && paymentMethod.invalid }"
                    required />
                  <div *ngIf="t.submitted && paymentMethod.invalid" class="invalid-feedback">
                    <div *ngIf="paymentMethod.errors.required">Payment Method is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <div class="form-group">
                  <label for="remarks">Remarks</label>
                  <input type="text" class="form-control" name="remarks" [(ngModel)]="accountDto.remarks"
                    #remarks="ngModel" [ngClass]="{ 'is-invalid': t.submitted && remarks.invalid }" required />
                  <div *ngIf="t.submitted && remarks.invalid" class="invalid-feedback">
                    <div *ngIf="remarks.errors.required">Remarks required</div>
                  </div>
                </div>
              </div>

            </div>


            <div class="form-group text-center">
              <button class=" btn-primary btn-lg">Save</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>





  <div class="content">

    <div class="jumbotron p-4 m-1">
      <div class="container">
        <h1 class="display-4 text-danger">Payment Display Board</h1>
        <p class="lead">View the payment history of the students by using Roll Number </p>

      </div>
    </div>
  </div>


  <div class="card m-4">
    <h2 class="card-header text-center text-success">Payment History By RollNumber </h2>
    <div class="card-body">
      <div class="container text-center mb-5 p-3">
        <h4>Enter The Student Roll Number</h4>
        <input type="number" [(ngModel)]="rollNoforPayment" name="rollNo" class="form-control-border">
        <button class=" btn-primary " (click)="paymentListRollNo()">Search</button>

      </div>

    </div>





    <div class="row" *ngIf="isShow">
      <div class="col-xl-12 justify-content-center align-content-center p-2">
        <h3 class="text-center">Payment Details of Student </h3>
        <div class="card-box">
          <div class="container m-1 p-2">
            <ag-grid-angular style="margin:10px;height:200px !important" class="ag-theme-alpine"
              [columnDefs]="transactionsListHeader" [rowData]="transactionsList" [pagination]="true"
              [paginationPageSize]="2">
            </ag-grid-angular>

          </div>
        </div>
      </div>
    </div>
