<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="card user-card-full">
      <div class="col-sm-12 bg-c-lite-green user-profile">
        <div class="card-block text-center text-white">
          <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius"
              alt="User-Profile-Image"> </div>
          <h6 class="f-w-6001">{{studentModel.name}}</h6>
          <p class="f-w-6002">NEET Target - E</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card-block">
          <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Personal Information</h6>
          <div class="row">
            <div class="col-sm-4">
              <p class="m-b-10 f-w-600">Father's Name</p>
              <h6 class="text-muted f-w-400">{{studentModel.fatherName}}</h6>
            </div>
            <div class="col-sm-4">
              <p class="m-b-10 f-w-600">Mother's Name</p>
              <h6 class="text-muted f-w-400">{{studentModel.motherName}}</h6>
            </div>
            <div class="col-sm-4">
              <p class="m-b-10 f-w-600">Domicile State</p>
              <h6 class="text-muted f-w-400">{{studentModel.domicileState}}</h6>
            </div>
            <div class="col-sm-4">
              <p class="m-b-10 f-w-600">Aadhaar No</p>
              <h6 class="text-muted f-w-400">{{studentModel.aadhaarNo}}</h6>
            </div>
            <div class="col-sm-4">
              <p class="m-b-10 f-w-600">Date Of Birth</p>
              <h6 class="text-muted f-w-400">{{studentModel.dateOfBirth}}</h6>
            </div>
            <div class="col-sm-4">
              <p class="m-b-10 f-w-600">Category</p>
              <h6 class="text-muted f-w-400">{{studentModel.category}}</h6>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <p class="m-b-10 f-w-600">Permanent Address</p>
              <h6 class="text-muted f-w-400">{{studentModel.permanentAddress}}</h6>
            </div>
            <div class="col-sm-4">
              <p class="m-b-10 f-w-600">Parent's Occupation</p>
              <h6 class="text-muted f-w-400">{{studentModel.parentsOccupation}}</h6>
            </div>
            <div class="col-sm-4">
              <p class="m-b-10 f-w-600">Contact No</p>
              <h6 class="text-muted f-w-400">{{studentModel.mobileNoStudent}}</h6>
            </div>
            <div class="col-sm-4">
              <p class="m-b-10 f-w-600">Email id</p>
              <h6 class="text-muted f-w-400">{{studentModel.emailId}}</h6>
            </div>
            <div class="col-sm-4">
              <p class="m-b-10 f-w-600">Local Address</p>
              <h6 class="text-muted f-w-400">{{studentModel.localAddress}}</h6>
            </div>
            <div class="col-sm-4">
              <p class="m-b-10 f-w-600">Local Guardian Name</p>
              <h6 class="text-muted f-w-400">{{studentModel.localAddressGuardian}}</h6>
            </div>
            <div class="col-sm-4">
              <p class="m-b-10 f-w-600">Local Guardian Contact</p>
              <h6 class="text-muted f-w-400">{{studentModel.mobileNoLocalGuardian}}</h6>
            </div>

          </div>

          <div class="col-sm-12">
            <div class="card-block">
              <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Academics & School</h6>
              <div class="row">
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">10th Passing Year</p>
                  <h6 class="text-muted f-w-400">{{studentModel.passingOutYear10}}</h6>
                </div>
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">10th Percentage/Grade</p>
                  <h6 class="text-muted f-w-400">{{studentModel.gradePer10}}</h6>
                </div>
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">10th School Name</p>
                  <h6 class="text-muted f-w-400">{{studentModel.school10}}</h6>
                </div>
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">10th School Address</p>
                  <h6 class="text-muted f-w-400">{{studentModel.schoolAddress10}}</h6>
                </div>
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">11th Passing Year</p>
                  <h6 class="text-muted f-w-400">{{studentModel.passingOutYear11}}</h6>
                </div>
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">11th Percentage/Grade</p>
                  <h6 class="text-muted f-w-400">{{studentModel.gradePer11}}</h6>
                </div>
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">11th School Name</p>
                  <h6 class="text-muted f-w-400">{{studentModel.school11}}</h6>
                </div>
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">11th School Address</p>
                  <h6 class="text-muted f-w-400">{{studentModel.schoolAddress11}}</h6>
                </div>
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">12th Passing Year</p>
                  <h6 class="text-muted f-w-400">{{studentModel.passingOutYear12}}</h6>
                </div>
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">12th Percentage/Grade</p>
                  <h6 class="text-muted f-w-400">{{studentModel.gradePer12}}</h6>
                </div>
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">12th School Name</p>
                  <h6 class="text-muted f-w-400">{{studentModel.school12}}</h6>
                </div>
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">12th School Address</p>
                  <h6 class="text-muted f-w-400">{{studentModel.schoolAddress12}}</h6>
                </div>

                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">Past NEET AIR</p>
                  <h6 class="text-muted f-w-400">{{studentModel.pastNeetAir}}</h6>
                </div>
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">Past NEET ASR</p>
                  <h6 class="text-muted f-w-400">{{studentModel.pastNeetAsr}}</h6>
                </div>
                <div class="col-sm-4">
                  <p class="m-b-10 f-w-600">Past NEET Attempts</p>
                  <h6 class="text-muted f-w-400">{{studentModel.pastNeetAttempts}}</h6>
                </div>
              </div>
              <hr>

              <div class="text-center">
                <button class=" btn-primary btn-lg" id="printPageButton" onClick="window.print()">Print</button>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
